/* 设置全局样式 */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f9;
    color: #333;
}

/* 设置语言选择下拉框样式 */
#lang-selector {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    font-size: 1em;
}

/* 设置标题样式 */
h1 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

/* 设置段落样式 */
p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
}

/* 设置链接容器样式 */
#link-container {
    text-align: center;
}

/* 设置链接样式 */
a {
    display: inline-block;
    background-color: #3498db;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
    transition: background-color 0.3s ease;
}

/* 设置链接悬停样式 */
a:hover {
    background-color: #2980b9;
}

#back-button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

#back-button:hover {
    background-color: #c0392b;
}